services:
{% for node in cassandra_nodes %}

  {{ node.name }}:
    build:
      context: .
      args:
        - SSH_KEY_PUB_NAME=${SSH_KEY_PUB_NAME}
        - SUDO_PASSWORD=${SUDO_PASSWORD}
        - HTTP_PROXY=http://192.168.1.198:3128
        - HTTPS_PROXY=http://192.168.1.198:3128
        - NO_PROXY=localhost,127.0.0.1
    hostname: {{ node.name }}
    ports:
      - "{{ node.port }}:9042"
      - "{{ node.ssh_port }}:22"
    environment:
      - CASSANDRA_CLUSTER_NAME={{ cassandra_cluster_name }}
      - CASSANDRA_SEEDS={{ cassandra_nodes[0].container_ip }}
      - CASSANDRA_LISTEN_ADDRESS={{ node.container_ip }}
      - CASSANDRA_BROADCAST_ADDRESS={{ node.container_ip }}
      - CASSANDRA_BROADCAST_RPC_ADDRESS={{ node.container_ip }}
      - CASSANDRA_ENDPOINT_SNITCH=GossipingPropertyFileSnitch
    volumes:
      - {{ node.name }}-data:/var/lib/cassandra
    networks:
      cassandra_net:
        ipv4_address: {{ node.container_ip }}
    restart: unless-stopped
{% if loop.index > 1 %}
    depends_on:
      - {{ cassandra_nodes[0].name }}
{% endif %}
{% endfor %}

networks:
  cassandra_net:
    driver: macvlan
    driver_opts:
      parent: {{ docker_parent_interface }}  # eth0 или другой интерфейс хоста
    ipam:
      driver: default
      config:
        - subnet: {{ docker_network_subnet }}  # 192.168.1.0/24
          gateway: {{ docker_network_gateway }}  # 192.168.1.1

volumes:
{% for node in cassandra_nodes %}
  {{ node.name }}-data:
{% endfor %}
